<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the TheTranslator</h1>
      <table class="table">
        <thead>
          <th>Word</th>
          <th>Sound</th>
          <th>Meaning</th>
        </thead>
        <% @words.each do |word| %>
          <tr>
            <td><%= word.word %></td>
            <td><%= link_to "speak", "#", onclick: "talk('#{word.word}')" %></td>
            <td><%= word.meaning %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
<script type="text/javascript">
  function talk(word){
    var msg = new SpeechSynthesisUtterance(word);
    window.speechSynthesis.speak(msg);
  }
</script>
